#foto{
	padding-top: 50px;
	padding-left: -10px;
	padding-right: 10px;
	display: inline-block; 
	}


.photo span{
	 width: 70px;
	 height: 70px;
	 display: block;
	 position: absolute;
	 margin-top: -15px;
	 left:250px;
	 background: url("../images/tachuela.png") no-repeat;
	}

h4{
   text-align: center;
  
}

h5{
   text-align: center;
  
}

.aja{
   text-align: center;
   margin-top: 20px;
   margin-left: 125px;

   	}
